<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance Rating of employee</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
</head>
<body>

    <h1>Performance of employee </h1>
    <br>
    <h2> This is a Evaluation page</h2>
    <h3>{{ prediction_text }}</h3>
    <img src = "smiley.gif" height="40%" width="55%">


<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1{
        color: Green;
        background-color: Yellow;

    }
    h2{
        color: tomato;
        #background-color: Yellow;

    }
    body {

                text-align: center;
                padding: 0px;
                background-size: cover;
                background-repeat: x-repeat;
                height = 100vh;
           }
</style>>
</body>
</html>